body{
    background-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style*/
.font-open-sans
{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
nav .logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
    
}
/* main style*/
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    list-style:none;
    padding: 0 20px;
}
nav .menu{ 
    display: flex;
    list-style: none;
    gap: 32px; 
    align-items: center;
    color: #000000;
}
nav .menu a{ 
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    
}
.btn {
    align-items: center; 
    gap: 10; 
    padding: 12px 16px; 
    background-color: #30B864;
    margin-right: 120px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;

    
}
#banner {
    background-image: url(./assets/hero-bg.png)
}
 #banner .banner-content { 
    padding: 120px 70px 120px 134px;
}
.badge {
  display: flex;
  padding: 8px 16px;
  border-radius: 1000px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-left: 565.5px;
  background-color: #FFFFFF;
  color: #30b868;
  width: 229px;
  height: 35px;

}
#banner .banner-content h1 {
 
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;


}
#banner .banner-content h2 {
 
    font-size: 72px;
    font-weight: 700;
    font-style: bold;
    line-height: 84px;
    text-align: center;
    text-transform: capitalize;
    color: #30b868;
}
#banner .banner-content p{
    font-style: 400;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0%;
    margin-top: 16px;
    margin-bottom: 32px;
}
.btn2{
    align-items: center; 
    gap: 10; 
    padding: 12px 16px; 
    background-color: #30B864;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 447.5px;
    cursor: pointer;


}


.btn3 {
    font-weight: 600;
    font-size: 16px;
    padding: 12px 16px;
    align-content: center;
    margin-left: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background: none;
    border-color: #FFFFFF;
    cursor: pointer;
   

}
.about h2,
.solution h2,
.cta h2 {
  font-size: 36px;
  margin-bottom: 15px;
  font-style: Bold;
font-size: 48px;
font-weight: 700;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
margin-top:none;
}

.subtitle {
  max-width: 700px;
  margin: 0 auto 50px;
  color: #c7d2fe;
}

.problem-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.problem-card {
  border: 1px solid #1e293b;
  padding: 25px;
  border-radius: 12px;
  background: #020617;
}

.problem-card h3 {
  margin-bottom: 10px;
}

.problem-card p {
  color: #94a3b8;
  font-size: 15px;
}