body{
    background-color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style*/
.font-open-sans
{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
nav .logo {
    display: flex;
    align-items: center;
    margin-left: 120px;
    
}
/* main style*/
nav{
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}
nav .menu{ 
    display: flex;
    list-style: none;
    gap: 32px; 
    align-items: center;
    color: #000000;
}
nav .menu a{ 
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    
}
.btn {
    align-items: center; 
    gap: 10; 
    padding: 12px 16px 12px 16px; 
    background-color: #30B864;
    margin-right: 120px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: semi bold;
    color: #FFFFFF;

    
}